go 1.25

use ./src/api

use ./src/main

use ./src/docs

use ./src/pkg/api

use ./src/pkg/common

use ./src/pkg/db

use ./src/pkg/eventbus

use ./src/pkg/file_manager

use ./src/pkg/llm

use ./src/pkg/logger

use ./src/pkg/server

use ./src/pkg/redis

use ./src/pkg/polar

use ./src/pkg/ocr

use (
	./src/app/billing
	./src/app/example_cognitive
	./src/app/example_documents
	./src/app/organizations
	./src/pkg/auth
	./src/pkg/paywall
	./src/pkg/stytch
)
